* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #424242;
}
 


@import './variables';
@import './views/components';
@import './views/dashboard';